<div class="background" [ngClass]="{'results': results}">
	<div class="email-icon" (click)="showLightMail()">
		<img class="icon" src="assets/mail.png">
		<span class="icon-name">Light-Mail</span>
	</div>
	<div class="docs-icon" (click)="showDocuments()">
		<img class="icon" src="assets/documents.png">
		<span class="icon-name">Documents</span>
	</div>
	<app-email></app-email>
	<app-document></app-document>
	<app-menu></app-menu>
	<app-notification></app-notification>
</div>

<div *ngIf="finalReply" class="final" [ngClass]="{'final-reply': finalReply}">
	<div class="response">
		<span class="email-from">{{finalReply.from}}</span>
		<span class="email-date">{{finalReply.date}}</span>
		<span class="email-subject">{{finalReply.subject}}</span>
		<span class="email-text">{{finalReply.text}}</span>
	</div>
	<div class="down-arrow"><img class="down-icon" src="assets/down_arrow.png"></div>
	<div class="share-buttons">
		<h2>Share Brick-by-Brick</h2>
		<share-buttons>
			<share-button button="facebook"></share-button>
			<share-button button="twitter"></share-button>
			<share-button button="google"></share-button>
			<share-button button="reddit"></share-button>
		</share-buttons>
	</div>
</div>

