<div class="background" [ngClass]="{'results': results}">
	<div class="email-icon" (click)="showLightMail()">
		<img class="icon" src="assets/mail.png">
		<span class="icon-name">Light-Mail</span>
	</div>
	<div class="docs-icon" (click)="showDocuments()">
		<img class="icon" src="assets/documents.png">
		<span class="icon-name">Documents</span>
	</div>
	<app-email></app-email>
	<app-document></app-document>
	<app-menu></app-menu>
	<app-notification></app-notification>
</div>

<div *ngIf="finalReply" class="final" [ngClass]="{'final-reply': finalReply}">
	<div class="response">
		<span class="email-from">{{finalReply.from}}</span>
		<span class="email-date">{{finalReply.date}}</span>
		<span class="email-subject">{{finalReply.subject}}</span>
		<span class="email-text">{{finalReply.text}}</span>
	</div>
	<div class="down-arrow"><img class="down-icon" src="assets/down_arrow.png"></div>
	<div class="learn-more">
		<h2>Learn More</h2>
		<p>The e-mails and documents in Brick-by-Brick are real.  They are entirely unaltered, except for names, and in one case--my father's final response--where only one of the two possible endings is true.</p>

		<p>If you found the story told through Brick-by-Brick meaningful, please consider donating to an LGBT positive charity like:</p>
		<ul>
			<li><a href="http://www.transunitedfund.org/">The Trans United Fund</a></li>
			<li><a href="http://www.thetrevorproject.org/">The Trevor Project</a></li>
			<li><a href="https://www.hrc.org/">The Human Rights Campaign</a></li>
		</ul>
	</div>
	<div class="share-buttons">
		<h2>Share Brick-by-Brick</h2>
		<share-buttons [linkedIn]="false" [pinterest]="false" [tumblr]="false" [whatsApp]="false" [stumbleUpOn]="false"></share-buttons>
	</div>
	<div class="play-again">
		<form action="/" method="GET">
		    <input type="submit" value="Play Again" />
		</form>
	</div>
</div>

