<div class="background" [ngClass]="{'results': results}">
	<div class="email-icon" (click)="showLightMail()">
		<img class="icon" src="assets/mail.png">
		<span class="icon-name">Light-Mail</span>
	</div>
	<div class="docs-icon" (click)="showDocuments()">
		<img class="icon" src="assets/documents.png">
		<span class="icon-name">Documents</span>
	</div>
	<app-email (results)="changeToResults()"></app-email>
	<app-document></app-document>
	<app-menu></app-menu>
	<app-notification></app-notification>
</div>

