<div class="outlook">
	<div class="scroll-bar"></div>
	<div *ngIf="emails.length" class="email-list">
		<div *ngFor="let email of emails" class="email">
			<div class="email-header" (click)="selectEmail(email)">
				<span class="email-from">{{email.from}}</span>
				<span class="email-date">{{email.date}}</span>
				<span class="email-subject">{{email.subject}}</span>
				<span class="email-preview">{{email.blurb}}</span>
			</div>
		</div>
	</div>
	<div class="email-expansion">
		<div *ngIf="selected" class="email-body">
			{{selected.text}}
		</div>
	</div>
</div>