<div *ngIf="visible" class="outlook">
	<div class="header">
		<div class="title">Light-Mail</div>
		<div class="close-button" (click)="hideLightMail()">X</div>
	</div>
	<div class="mailboxes">
		<div class="mailbox" (click)="selectMailbox('inbox')">
			Inbox
		</div>
		<div class="mailbox" (click)="selectMailbox('sent')">
			Sent
		</div>
		<div class="mailbox" (click)="selectMailbox('drafts')">
			Drafts
		</div>
		<div class="mailbox" (click)="selectMailbox('trash')">
			Trash
		</div>
	</div>
	<div *ngIf="emails.length" class="email-list">
		<!-- INBOX -->
		<div *ngIf="inbox()">
			<div *ngFor="let email of inboxEmails" class="email">
				<div class="email-header" (click)="selectEmail(email)" [ngClass]="{'selected': amISelected(email), 'read': email.read}">
					<span class="email-from">{{email.from}}</span>
					<span class="email-date">{{email.date}}</span>
					<span class="email-subject">{{email.subject}}</span>
					<span class="email-preview">{{email.blurb}}</span>
				</div>
			</div>
		</div>

		<!-- SENT -->
		<div *ngIf="sent()">
			<div *ngFor="let email of sentEmails" class="email">
				<div class="email-header" (click)="selectEmail(email)" [ngClass]="{'selected': amISelected(email), 'read': email.read}">
					<span class="email-from">{{email.from}}</span>
					<span class="email-date">{{email.date}}</span>
					<span class="email-subject">{{email.subject}}</span>
					<span class="email-preview">{{email.blurb}}</span>
				</div>
			</div>
		</div>

		<!-- DRAFTS -->
		<div *ngIf="drafts()">
			<div *ngFor="let email of draftEmails" class="email">
				<div class="email-header" (click)="selectEmail(email)" [ngClass]="{'selected': amISelected(email), 'read': email.read}">
					<span class="email-from">{{email.from}}</span>
					<span class="email-date">{{email.date}}</span>
					<span class="email-subject">{{email.subject}}</span>
					<span class="email-preview">{{email.blurb}}</span>
				</div>
			</div>
		</div>

		<!-- TRASH -->
		<div *ngIf="trash()">
			<div *ngFor="let email of trashEmails" class="email">
				<div class="email-header" (click)="selectEmail(email)" [ngClass]="{'selected': amISelected(email), 'read': email.read}">
					<span class="email-from">{{email.from}}</span>
					<span class="email-date">{{email.date}}</span>
					<span class="email-subject">{{email.subject}}</span>
					<span class="email-preview">{{email.blurb}}</span>
				</div>
			</div>
		</div>

	</div>
	<div class="email-expansion">
		<div *ngIf="selected" class="email-body">
			<span class="email-from">{{selected.from}}</span>
			<span class="email-to">To: {{selected.to}}</span>
			<span class="email-date">{{selected.date}}</span>
			<span class="email-subject">{{selected.subject}}</span>
			<span class="email-body">
				<pre>
					<span class="inner-pre">
<!-- TODO: This is not indented because indenting it makes the actual text indented
due to the <pre> tag. -->
{{selected.text}}
					</span>
				</pre>
			</span>
		</div>
	</div>
</div>